// Source:
// https://web.dev/building-a-dialog-component/
// https://github.com/argyleink/gui-challenges/blob/main/dialog

html:has(dialog[open][modal-mode='mega']) {
  overflow: hidden;
}

dialog {
  display: grid;
  background: white;
  max-inline-size: 90vw;
  max-block-size: min(90vh, 100%);
  max-block-size: min(90dvb, 100%);
  margin: auto;
  padding: 0;
  position: fixed;
  inset: 0;
  z-index: 50;
  overflow-y: auto;
  transition: opacity 0.5s ease-in;

  &:not([open]) {
    pointer-events: none;
    opacity: 0;
  }

  &[modal-mode='mega']::backdrop {
    backdrop-filter: blur(25px);
  }

  &[modal-mode='mini']::backdrop {
    backdrop-filter: none;
  }

  &::backdrop {
    transition: backdrop-filter 0.5s ease;
  }

  &[loading] {
    visibility: hidden;
  }

  & > form {
    max-block-size: 90vh;
    max-block-size: 90dvb;

    & > article {
      overflow-y: auto;
      max-block-size: 100%; /* safari */
      overscroll-behavior-y: contain;
      display: grid;
      justify-items: flex-start;
      z-index: 10;
    }

    & > header {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: flex-start;

      & > button {
        padding: 0.75ch;
        aspect-ratio: 1;
        flex-shrink: 0;
        place-items: center;
        stroke: currentColor;
        stroke-width: 3px;
      }
    }

    & > footer {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
      align-items: flex-start;

      & > menu {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding-inline-start: 0;

        &:only-child {
          margin-inline-start: auto;
        }

        @media (max-width: 410px) {
          & button[type='reset'] {
            display: none;
          }
        }
      }
    }

    & > :is(header, footer) {
      background-color: grey;
    }
  }
}
