@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Montserrat', sans-serif;
}

ul.logo-bullets > li {
  background: url('../assets/images/icon.svg') left center no-repeat;
}

.grecaptcha-badge {
  display: none !important;
}
