<div id="sectionBFB" class="mx-auto mt-16 max-w-4xl px-4 text-center lg:px-8">
  <h2 class="mb-2 text-center text-5xl font-bold text-black">Benefits For Business</h2>
  <p class="mb-6 text-center text-2xl font-bold text-black">Eliminate your Last Mile costs due to package theft!</p>
  <h2 class="mb-7 text-left text-3xl font-bold text-black">Facts!</h2>
  <p class="mb-3 text-left font-bold text-black">Ecommerce continues to grow year after year.</p>
  <p class="mb-4 text-left font-bold text-black lg:mb-20">
    Businesses are faced with new challenges to keep up with the demand. Learn how Squirrel Now can help!
  </p>

  <div class="align-center flex flex-col justify-between gap-5 md:flex-row">
    <div class="flex flex-col justify-center gap-5">
      <p class="flex text-left font-bold text-black">
        <img src="./assets/images/check.svg" alt="check-icon" class="mr-2 h-6 w-6" />
        Eliminate replacement, packaging and shipping <br />costs as a result of stolen packages
      </p>
      <p class="flex text-left font-bold text-black">
        <img src="./assets/images/check.svg" alt="check-icon" class="mr-2 h-6 w-6" />
        Streamline delivery routes to save money and <br />manpower
      </p>
      <p class="flex text-left font-bold text-black">
        <img src="./assets/images/check.svg" alt="check-icon" class="mr-2 h-6 w-6" />
        Promote Brand Loyalty by guaranteeing a <br />
        positive delivery experience
      </p>
    </div>
    <img class="h-72" src="./assets/images/truck.webp" alt="truck" />
  </div>
</div>
