<div class="flex flex-col items-center bg-cover py-20 md:py-52">
  <div class="max-w-7xl px-4 lg:px-8">
    <h2 class="mb-16 flex justify-center text-center text-3xl font-bold text-black md:mb-32 md:text-5xl">
      Benefits for Clients
    </h2>

    <div class="flex flex-col gap-12 text-center md:flex-row md:gap-3">
      <div class="flex w-80 flex-col items-center">
        <img class="mb-3 md:mb-16" src="./assets/images/lock.svg" alt="security" />
        <h2 class="text-3xl font-semibold text-black">Security</h2>
        <p class="font-bold text-black">Neighborhood Host will protect your packages in their home for Safe-Keeping.</p>
      </div>
      <div class="flex w-80 flex-col items-center">
        <img class="mb-3 md:mb-16" src="./assets/images/home.svg" alt="security" />
        <h2 class="text-3xl font-semibold text-black">Сonvenience</h2>
        <p class="font-bold text-black">
          Your Neighborhood Host will provide a flexible schedule and will be near you for your convenience.
        </p>
      </div>
      <div class="flex w-80 flex-col items-center">
        <img class="mb-3 md:mb-16" src="./assets/images/community.svg" alt="security" />
        <h2 class="text-3xl font-semibold text-black">Community</h2>
        <p class="font-bold text-black">
          Squirrel Now will reduce crime in your community and promote social relationships and local jobs
        </p>
      </div>
    </div>
  </div>
</div>
