<div class="min-h-screen py-16 /*bg-red-700*/ bg-cover border-t-2 flex flex-col items-center">
  <div class="max-w-7xl px-4 sm:px-6h-fu lg:px-8 ll">
    <h2 class="text-3xl font-bold text-black text-center mb-10 flex justify-center">Benefits for Clients</h2>
    <div class="flex">
      <div class="flex flex-col items-center">
        <img src="./assets/images/lock.svg" alt="security" />
        <h2 class="text-3xl font-bold text-black text-left mb-10">Security</h2>
        <p class="font-bold text-black text-left mb-10">
          Neighborhood Host will protect your packages in their home for Safe-Keeping.
        </p>
      </div>
      <div class="flex flex-col items-center">
        <img src="./assets/images/home.svg" alt="security" />
        <h2 class="text-3xl font-bold text-black text-left mb-10">Сonvenience</h2>
        <p class="font-bold text-black text-left mb-10">
          Your Neighborhood Host will provide a flexible schedule and will be near you for your convenience.
        </p>
      </div>
      <div class="flex flex-col items-center">
        <img src="./assets/images/community.svg" alt="security" />
        <h2 class="text-3xl font-bold text-black text-left mb-10">Community</h2>
        <p class="font-bold text-black text-left mb-10">
          Squirrel Now will reduce crime in your community and promote social relationships and local jobs
        </p>
      </div>
    </div>
  </div>
</div>
