<div class="mx-auto max-w-7xl px-4 sm:px-6h-fu lg:px-8 ll">
  <div class="flex gap-5 items-center justify-center">
    <div>
      <h2 class="text-3xl font-bold text-black text-center mb-2">Benefits For Business</h2>
      <p class="font-bold text-black text-center mb-6">Eliminate your Last Mile costs due to package theft!</p>
      <h2 class="text-3xl font-bold text-black text-left mb-7">Facts!</h2>
      <p class="font-bold text-black text-left mb-3">Ecommerce continues to grow year after year.</p>
      <p class="font-bold text-black text-left mb-20">
        Businesses are faced with new challenges to keep up with the demand. Learn how Squirrel Now can help!
      </p>
      <p class="font-bold text-black text-left mb-3">
        Eliminate replacement, packaging and shipping <br />costs as a result of stolen packages
      </p>
      <p class="font-bold text-black text-left mb-3">Streamline delivery routes to save money and <br />manpower</p>
      <p class="font-bold text-black text-left mb-3">
        Promote Brand Loyalty by guaranteeing a <br />
        positive delivery experience
      </p>
    </div>
    <img class="h-72" src="./assets/images/truck.webp" alt="truck" />
  </div>
</div>
