<div class="bg-squirrel-dark-blue flex flex-col justify-between bg-cover py-6 md:flex-row lg:px-16">
  <div class="mx-auto flex w-72 flex-col items-center gap-3 md:ml-0">
    <a href="./index.html"><img class="w-44" src="./assets/images/logo.webp" alt="man" /></a>
    <a data-e2e="contact-link" class="text-gray-300"></a>
    <p class="text-sm text-gray-400">© 2023 Squirrel Now</p>
  </div>
  <div
    class="mt-6 flex flex-col items-center gap-4 text-lg text-white md:flex-row lg:mt-0 lg:mt-5 lg:items-start lg:gap-10 lg:text-xl"
  >
    <a href="./index.html#sectionSU">Sign Up</a>
    <a href="./index.html#sectionHIW">How it works</a>
    <div class="flex flex-col items-center gap-4 lg:items-start">
      <a href="./index.html#sectionBfC">For Clients</a>
      <a href="./index.html#sectionHB">For Hosts</a>
      <a href="./index.html#sectionBFB">For Business</a>
    </div>
    <a href="./index.html#sectionCU">Contact Us</a>
    <a href="./terms-of-use.html">Terms of Use</a>
    <a href="./privacy-policy.html">Privacy Policy</a>
  </div>
</div>
