<div class="h-269 py-16 bg-blue-900 bg-cover border-t-2 flex flex-col text-center">
  <div class="flex flex-col px-16">
    <img class="h-32 w-64" src="./assets/images/logo.webp" alt="man" />

    <p class="text-white text-left">© 2022 Squirrel Now</p>
  </div>
  <div class="flex justify-end">
    <button class="text-white px-3">Sign Up</button>
    <button class="text-white px-3">Features</button>
    <button class="text-white px-3">How it works</button>
    <button class="text-white px-3">Product Owner</button>
  </div>
</div>
