<div class="py-6 lg:px-16 bg-cover flex flex-col md:flex-row bg-squirrel-dark-blue justify-between">
  <div class="flex flex-col mx-auto md:ml-0 w-72">
    <img class="w-44" src="./assets/images/logo.webp" alt="man" />
    <p class="text-gray-400 mt-4 lg:mt-8 text-sm">© 2023 Squirrel Now</p>
  </div>
  <div class="mt-6 lg:mt-0 flex flex-col md:flex-row items-center text-lg lg:text-xl text-white gap-4 lg:gap-10">
    <a href="#sectionSU">Sign Up</a>
    <a href="#sectionBfC">Benefits for Clients</a>
    <a href="#sectionHIW">How it works</a>
    <a href="#sectionBFB">Benefits For Business</a>
    <a href="#sectionCU">Contact Us</a>
    <a href="#sectionHB">Host Benefits</a>
  </div>
</div>
