<nav class="border-b border-gray-200 bg-white mb-5">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex flex-shrink-0 items-center" id="logo">
          <img alt="Defisitary logo" class="block h-8 w-auto" src="./assets/images/logo.svg" />
        </div>
      </div>
      <div class="hidden md:flex">
        <include src="src/partials/social-buttons.html"></include>
      </div>
    </div>
  </div>
</nav>
