<div class="mx-auto max-w-7xl px-4 lg:px-8 mt-16">
  <h2 class="text-5xl font-bold text-black text-center">Host Benefits</h2>
  <p class="text-2xl font-bold text-black text-center">
    Become a neighborhood Host and earn extra money from <br />home!
  </p>
  <div class="flex justify-center mt-12 gap-32">
    <div class="flex flex-col gap-5 justify-center">
      <h2 class="font-bold text-black text-left">
        Earn money by securing your neighbor's <br />
        packages in your home
      </h2>
      <h2 class="font-bold text-black text-left">
        Gig Worker ( Flexible hours where you <br />
        decide when and how much you work)
      </h2>
      <h2 class="font-bold text-black text-left">Keep 100% of your tips</h2>
      <h2 class="font-bold text-black text-left">Earn sign-up referral bonuses</h2>
      <h2 class="font-bold text-black text-left">
        Earning Growth Opportunity (The more <br />
        services you provide, the more you can <br />
        earn. Learn More Here)
      </h2>
      <h2 class="font-bold text-black text-left">
        Make your neighborhoods safer from <br />
        Porch Thieves by eliminating opportunity
      </h2>
    </div>
    <img class="h-96" src="./assets/images/man.webp" alt="man" />
  </div>
</div>
