<div class="mx-auto max-w-7xl px-4 sm:px-6h-fu lg:px-8">
  <h2 class="text-3xl font-bold text-black text-center">Host Benefits</h2>
  <p class="font-bold text-black text-center">Become a neighborhood Host and earn extra money from <br />home!</p>
  <div class="flex gap-5 justify-center">
    <div class="flex flex-col items-start">
      <h2 class="font-bold text-black text-center mb-3">
        Earn money by securing your neighbor's <br />
        packages in your home
      </h2>
      <h2 class="font-bold text-black text-center mb-3">
        Gig Worker ( Flexible hours where you <br />
        decide when and how much you work)
      </h2>
      <h2 class="font-bold text-black text-center mb-3">Keep 100% of your tips</h2>
      <h2 class="font-bold text-black text-center mb-3">Earn sign-up referral bonuses</h2>
      <h2 class="font-bold text-black text-center mb-3">
        Earning Growth Opportunity (The more <br />
        services you provide, the more you can <br />
        earn. Learn More Here)
      </h2>
      <h2 class="font-bold text-black text-center">
        Make your neighborhoods safer from <br />
        Porch Thieves by eliminating opportunity
      </h2>
    </div>
    <img class="h-96" src="./assets/images/man.webp" alt="man" />
  </div>
</div>
