<div class="text-squirrel-dark-blue">
  <div class="mx-auto max-w-7xl px-4 lg:px-8">
    <h2 class="title">How it works?</h2>
  </div>

  <div class="flex flex-col md:flex-row gap-5 justify-center">
    <div>
      <h2 class="text-3xl font-bold text-left">Select a Host</h2>
      <p class="font-bold text-left mb-10">
        You will select a Host within your neighborhood <br />
        accept and secure your packages.
      </p>

      <h2 class="text-3xl font-bold text-left">Send to Host</h2>
      <p class="font-bold text-left mb-10">
        You will send your packages to your <br />
        Host so they can secure them in their home.
      </p>

      <h2 class="text-3xl font-bold text-left">Storing</h2>
      <p class="font-bold text-left mb-10">
        Your Host will store your package for as <br />
        long as you need them to. 24 hours to months!
      </p>

      <h2 class="text-3xl font-bold text-left">Finish</h2>
      <p class="font-bold text-left mb-10">
        You can pick-up your package, have it <br />
        delivered or stored for a period of time. Your Choice!
      </p>
    </div>

    <img class="max-h-[600px]" src="./assets/images/woman.webp" alt="woman" />
  </div>
</div>
