<div class="mx-auto max-w-7xl px-4 sm:px-6h-fu lg:px-8 ll">
  <h2 class="text-3xl font-bold text-blue-900 text-center mb-10">How it works?</h2>
</div>

<div class="flex gap-5 justify-center">
  <div>
    <h2 class="text-3xl font-bold text-blue-900 text-left">Select a Host</h2>
    <p class="font-bold text-blue-900 text-left mb-10">
      You will select a Host within your neighborhood <br />
      accept and secure your packages.
    </p>

    <h2 class="text-3xl font-bold text-blue-900 text-left">Send to Host</h2>
    <p class="font-bold text-blue-900 text-left mb-10">
      You will send your packages to your <br />
      Host so they can secure them in their home.
    </p>

    <h2 class="text-3xl font-bold text-blue-900 text-left">Storing</h2>
    <p class="font-bold text-blue-900 text-left mb-10">
      Your Host will store your package for as <br />
      long as you need them to. 24 hours to months!
    </p>

    <h2 class="text-3xl font-bold text-blue-900 text-left">Finish</h2>
    <p class="font-bold text-blue-900 text-left mb-10">
      You can pick-up your package, have it <br />
      delivered or stored for a period of time. Your Choice!
    </p>
  </div>

  <img class="h-96" src="./assets/images/woman.webp" alt="woman" />
</div>
