<div id="sectionHIW" class="text-squirrel-dark-blue px-4 lg:px-8">
  <div class="mx-auto max-w-7xl my-10">
    <h2 class="title">How it works?</h2>
  </div>

  <div class="flex flex-col md:flex-row gap-4 lg:gap-10 justify-center">
    <div class="xl:flex xl:flex-col xl:justify-center pl-14 lg:pl-0">
      <ul class="space-y-4">
        <li class="relative p-4 bg-white rounded-xl">
          <h2 class="text-3xl font-bold text-left mb-3">Select a Host</h2>
          <p class="font-bold">
            You will select a Host within your neighborhood <br />
            accept and secure your packages.
          </p>
          <span class="absolute z-10 top-3.5 -left-14 bg-red-800 rounded-full text-white text-lg font-semibold
          inline-flex w-10 h-10 justify-center items-center">1</span>

          <span class="absolute z-0 top-8 -left-10 ml-0.5 block h-full w-1 bg-red-800"></span>
        </li>
        <li class="relative p-4 bg-white rounded-xl">
          <h2 class="text-3xl font-bold text-left mb-3">Send to Host</h2>
          <p class="font-bold">
            You will send your packages to your <br />
            Host so they can secure them in their home.
          </p>
          <span class="absolute z-10 top-3.5 -left-14 bg-red-800 rounded-full text-white text-lg font-semibold
          inline-flex w-10 h-10 justify-center items-center">2</span>
          <span class="absolute z-0 top-8 -left-10 ml-0.5 block h-full w-1 bg-red-800"></span>
        </li>

        <li class="relative p-4 bg-white rounded-xl">
          <h2 class="text-3xl font-bold text-left mb-3">Storing</h2>
          <p class="font-bold">
            Your Host will store your package for as <br />
            long as you need them to. 24 hours to months!
          </p>
          <span class="absolute z-10 top-3.5 -left-14 bg-red-800 rounded-full text-white text-lg font-semibold
          inline-flex w-10 h-10 justify-center items-center">3</span>
          <span class="absolute z-0 top-8 -left-10 ml-0.5 block h-full w-1 bg-red-800"></span>
        </li>
        <li class="relative p-4 bg-white rounded-xl">
          <h2 class="text-3xl font-bold text-left mb-3">Finish</h2>
          <p class="font-bold">
            You can pick-up your package, have it <br />
            delivered or stored for a period of time. Your Choice!
          </p>
          <span class="absolute z-10 top-3.5 -left-14 bg-red-800 rounded-full text-white text-lg font-semibold
          inline-flex w-10 h-10 justify-center items-center">4</span></li>
      </ul>
    </div>

    <img class="lg:max-h-[600px]" src="./assets/images/woman.webp" alt="woman" />
  </div>
</div>
