<div
  class="min-h-screen py-16 bg-blue-400 bg-cover border-t-gray-500 border-t-2 flex flex-col justify-center"
  style="background-image: url('./assets/images/rectangles.svg')"
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 h-full">
    <h1 class="text-3xl font-bold text-white text-center mb-10">Show your interest</h1>

    <div class="flex flex-wrap gap-5 justify-center">
      <div class="bg-white py-8 px-4 shadow-lg rounded-lg sm:px-6 md:w-96">
        <h1 class="text-3xl font-bold text-gray-800 text-center mb-5">For users</h1>
        <ul class="logo-bullets">
          <li class="text-gray-800 mb-5 pl-16">Simple and intuitive user experience</li>
          <li class="text-gray-800 mb-5 pl-16">Impermanent loss protection</li>
          <li class="text-gray-800 mb-5 pl-16">Strategies created by the community</li>
        </ul>
        <p class="text-gray-800 mb-5">
          Sign up to the Defisitary newsletter for the latest news, updates and exclusive invites
        </p>

        <div class="flex gap-3">
          <input
            id="subscribe-email-input"
            type="email"
            name="email"
            class="flex-auto px-3 py-2 bg-white border shadow-sm border-blue-400 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block rounded-lg focus:ring-1"
            placeholder="Enter your email"
            style="width: 0; /*fixes bug with too wide screen on mobile*/"
          />

          <button
            id="subscribe-email-button"
            class="btn inline-flex items-center justify-center rounded-lg border border-blue-400 bg-blue-400 px-2.5 py-1 text-lg text-white shadow-lg hover:bg-blue-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2"
          >
            <div class="w-6 h-6 loading"></div>
            <span class="btn__text">Submit</span>
          </button>
        </div>
        <p id="subscribe-email-validation" class="text-red-500" style="display: none"></p>
      </div>

      <div class="bg-white py-8 px-4 shadow-lg rounded-lg sm:px-6 md:w-96">
        <h1 class="text-3xl font-bold text-gray-800 text-center mb-5">For developers</h1>
        <p class="text-gray-800 mb-5">
          Create your own farming, set the rules of payment for the use of farming and gain access to users
        </p>
        <p class="text-gray-800 mb-2">Count your profit with our</p>
        <div class="flex justify-center mb-4">
          <button
            onclick="window.calculatorDialog.showModal()"
            class="inline-flex justify-center items-center gap-1 rounded border border-blue-400 bg-white px-2.5 py-1.5 text-lg font-medium text-blue-400 shadow-sm hover:bg-blue-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2"
          >
            <span>Virtual calculator</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z"
              />
            </svg>
          </button>
        </div>
        <p class="text-gray-800 mb-5">Fill out the form and be one of the first to join</p>
        <div class="flex justify-center">
          <a href="https://forms.gle/iZCoVxkCCdXVDDFLA" target="_blank">
            <button
              type="button"
              class="inline-flex justify-center items-center gap-1 rounded-lg border border-blue-400 bg-blue-400 px-3.5 py-1.5 text-lg text-white shadow-lg hover:bg-blue-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2"
            >
              <span>Fill form</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-arrow-right"
              >
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
