<section id="interview" class="bg-gray-100">
  <div class="mx-auto py-16 max-w-7xl px-4 lg:px-8">
    <h2 class="title">Good Day</h2>
    <p class="text-center text-2xl font-bold text-black">
      Short interview about how Squirrel Now works.
    </p>
    <div class="mt-12 grid lg:grid-cols-2 gap-4 sm:gap-8 items-end">
      <div>
        <h4 class="mx-auto w-10/12 text-center text-xl font-bold mb-2">Squirrel Now - protect your packages!</h4>
        <iframe
          class="aspect-video w-full sm:w-10/12 lg:w-full mx-auto"
          src="https://www.youtube.com/embed/krJoJK6ZKIg"
          title="Squirrel Now - protect your packages!"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div>
        <h4 class="mx-auto w-10/12 text-center text-xl font-bold mb-2">KCRA Channel 3 News  - Squirrel Now is a new local business that solves the package theft problem</h4>
        <iframe
          class="aspect-video w-full sm:w-10/12 lg:w-full mx-auto"
          src="https://www.youtube.com/embed/Kt8me5wqy5g?si=rnofXw1zNsLyob1I"
          title="KCRA Channel 3 News  - Squirrel Now is a new local business that solves the package theft problem"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
