<section id="interview" class="bg-gray-100 mt-16">
  <div class="mx-auto py-16 max-w-7xl px-4 lg:px-8">
    <h2 class="title">Good Day</h2>
    <p class="text-center text-2xl font-bold text-black">
      Short interview about how Squirrel Now works.
    </p>
    <div class="mt-12 text-center">
      <div class="inline-block mx-auto">
        <iframe
          class="aspect-video w-full md:w-[600px] lg:w-[800px]"
          src="https://www.youtube.com/embed/krJoJK6ZKIg"
          title="Squirrel Now - protect your packages!"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
